<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://elmo.hostingcenter.uclv.net:5432/ftb_inv_2023_vz_3_a</property>

        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">ftb_inv_2023_vz_3_a</property> <!-- DB User -->
        <property name="connection.password">a9d4f6aa</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property>
        <mapping class="at.fhv.hike.data.AttributeEntity"/>
        <mapping class="at.fhv.hike.data.CommentEntity"/>
        <mapping class="at.fhv.hike.data.CoordinateEntity"/>
        <mapping class="at.fhv.hike.data.GalleryEntity"/>
        <mapping class="at.fhv.hike.data.LodgeEntity"/>
        <mapping class="at.fhv.hike.data.RouteEntity"/>
        <mapping class="at.fhv.hike.data.TimeOfYearEntity"/>
        <mapping class="at.fhv.hike.data.UserEntity"/> <!-- Show SQL formatted -->

    </session-factory>
</hibernate-configuration>



